#content {
    font-family: arial, sans-serif;
    color: #595A59;

}

h2 {
    font-weight: normal;

}

#content .form {
    display: inline-block;
    vertical-align: top;
    width: 450px;

}

#content .form form .li-1 {
    background: #d0e4f8;
}

#content .form form li {
    padding: 0;
    background: #f1f5f9;

}

#content #print {
    display: inline-block;
    width: 200px;
    vertical-align: top;

}

#content .chart-container {
    width: 700px;
    height: 700px;
    display: inline-block;


}

#content #donutchart {
    width: 100%;
    height: 500px;

}

#content .form form #submit {
    width: 135px;
    padding: 5px 5px;
    font-size: 16px;
    height: 30px;
    color: white;
    background: #82befb;
    border: none;
    cursor: pointer;
    margin: 10px 0 0 0;

}

#content #print button {
    font-size: 24px;
    padding: 5px 0 0 0;
    color: #d35c4c;
    border: none;
    cursor: pointer;
    background: none;
    margin: 0 0 0 20px;
    vertical-align: text-bottom;


}

#content #print {
    margin: 140px 0 0 0;

}

#content #print ul li {
    font-size: 22px;
    list-style-type: none;
    padding: 0;
    margin: -15px 0 0 0;

}

#content .form form #submit:hover {
    background: #6694c3;

}

#content #print button:hover{
    color: #a24539;

}

#content .form form input {
    height: 20px;
    font-size: 12px;
    color: #595A59;
    display: inline-block;
    padding: 0 5px;
    width: 150px;
    margin: 7px 0 0 0;
    border: none;

}

#content .form form .number {
    width: 45px;
    padding: 0 5px;
    height: 20px;

}

#content h1 {
    color: #595A59;

}

#content h2 {
    font-size: 16px;
    margin: 0;
    padding:0;

}

#content h3 {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

#content div {
    display: inline-block;
    margin: 0 2% 0 0;


}

#content .form form .button {
    margin: 0 0 0 0;

}

#content .form form li {
    list-style-type: none;

}

#content .form form .li-title {
    width: 125px;
    display: inline-block;
    height:25px;
    background: #d0e4f8;
    vertical-align: top;
    padding: 10px 5px 2px 5px;

}

#content .form form .li-title-double {
    width: 125px;
    display: inline-block;
    height:50px;
    background: #d0e4f8;
    vertical-align: top;
    padding: 10px 5px 2px 5px;

}

#content .form .li-1 .li-title, #content .form form .li-1 .li-title-double {
    background: #bad8f7;

}

#content .form form #double {
    height: 50px;

}

#content .form form .li-content {
    display: inline-block;

}

#content .form form .li-button {
    background: white;

}

#content .form form .li-1 h2, #content .form form .li-1 h3 {
    color: white;

}

#content #error {
    background: #da5f4f;
    padding: 50px 0;
    width: 500px;
    margin: -450px auto 0 auto;
    text-align: center;
    display: none;
    z-index: 10;
    position: relative;

}

#error h3, #error i {
    color: white;
    font-size: 30px;

}

#error .error-button {
    display: block;
    width: 200px;
    margin: 50px auto 0 auto;
    cursor: pointer;
    border: none;
    background: white;
    padding: 10px 0;
    font-size: 18px;
    color: #595A59;

}

#error .error-button:hover {
    background: #bad8f7;

}
